// Text
$font-stack: Verdana, Helvetica, Arial, sans-serif;
$font-color: #333;
$caption-color: #666;
$line-height: 1.65;
$list-item-margin: 2.5rem;

// Colors
$backdrop-background: rgba(0,0,0,0.5);
$background: #f7f7f7;
$semi-transparent: rgba(0,0,0,0.1);
$light-border: 1px solid $semi-transparent;

// Sizes
$mobile-nav-width: 60vw;
$base-padding: 1rem;

// Animation
$mobile-nav-transition-time: .35s;
